* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter , sans-serif;
  color: white;
}

.app {
  background-image: url('../images/background.png');
  background-size: cover;
  padding: 10px;
}
