[data-testid = "planet-card"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.planetImg {
  height: 250px;
  display: flex;
  align-items: center;
}

[data-testid = "planet-name"] {
  font-weight: 900;
  font-size: 1.3em;
  text-shadow: 1px 1px 1px black;
}
